
/*Barra de navegacao*/
.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

#left {
	margin-left: 10%;

}

nav ul li a{
	color: black;
}


hr {
	margin-top:5px;
	margin-bottom:5px;
	height:1px;
	width:100%;
	border-top:1px solid gray;
}

.lista-artistas {
	margin-top: 20px;
	margin-bottom: 15%;
}
div .card .artista:hover{
	border: 5px solid #777;
}

body {
	 background-image:url(../img/128-174.jpg);background-repeat:repeat;
}

td .playlist-link:hover, .artista-link:hover, h4 .artista-link:hover{
	color: black;
	text-shadow: -2px -1px 10px rgba(84, 84, 84, 1);
	cursor: pointer;
}

.heart:hover {
	opacity: 0.5;
}

.botaoCircular{
	height: 34px !important;
	width: 35px !important;
	border-radius: 34px !important;
}

#botaoDeRemoverPlaylist{
	margin-left: 20px;
}

#botaoDeRemoverMusica{
	margin-left: 4px;
}

#botaoDeRemoverMusica:hover{
	opacity: 0.5;
	cursor: pointer;
}