.navbar .navbar-nav > .active > a:hover,
.navbar-brand:hover{
     opacity: 0.2;
 }

.col {
	 width: 40%;
}

.col {
	background-color: #eeeeee;
	border-radius: 10px;
}

#left {
	margin-left: 10%;

}

nav ul li a{
	color: black;
}


hr {
  margin-top:5px;
 margin-bottom:5px;
 height:1px;
 width:100%;
 border-top:1px solid gray;
}

.lista-artistas {
	margin-top: 20px;
	margin-bottom: 15%;
}
div .card .artista:hover{
	border: 5px solid #777;
}

body {
	 background-image:url(../img/128-174.jpg);background-repeat:repeat;
}

td .playlist-link:hover{
	text-shadow: -2px -1px 10px rgba(84, 84, 84, 1);
	cursor: pointer;
}